#wrapper {
	margin: 0 auto;
	width: 90%;
	background: #FEFBE8;
	border: 1px solid #878E63;
	border-radius: 2px;
	box-shadow: 0 0 10px 0px rgba(12, 3, 25, 0.8);	
}

 .navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color: #F3FCB9;
	color: #3F302D;
	padding: 1% 0;
	font-size: 1.2em;
	border: 0;
  }
  .navbar-brand {
	float: left;
	min-height: 55px;
	padding: 0 15px 5px;
  }
  .navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
	color: #D5D5D5;
	background-color: #F3FCB9;
  }
  .navbar-inverse .navbar-nav li a {
  color: #3F302D;
  }
  .carousel-caption {
	top: 50%;
	transform: translateY(-50%);
	text-transform: uppercase;
  }  
  .btn {
	 background: none;
	font-size: 18px;
	color: #F3FCB9;
	padding: 12px 22px;
	border: 2px solid #F3FCB9;
  }
  .container {
	margin:4% auto;
  }
  #icon {
	max-width: 200px;
	margin:1% auto;
  }
  footer {
	width: 100%;
	background-color: #F3FCB9;
	padding: 5%;
	color: #3F302D;
  }
  .fa {
	padding: 15px;
	font-size: 25px;
	color: #3F302D;
  }
  .fa:hover {
	color:# D5D5D5;
	text-decoration: none;
  }
  
  @media (max-width: 900px) {
	.fa {
		font-size: 20px;
		padding: 10px;
	}
  }
  
  @media (max-width: 600px) {
	.carousel-caption {
		display: none;
	}
	#icon {
	 max-width: 150px;
	}
	h2 {
	font-size: 1.7em;
	}
  }